:root {
  --primary-color: hsl(212, 28%, 13%);
  --primary-color-lighter: hsl(212, 28%, 16%);
  --text-color: hsl(0, 0%, 100%);
  --margin-left: 20vw;
  --secondary-color: hsl(180, 100%, 50%);
  --secondary-color-lighter: hsla(180, 100%, 70%);
}

/* .dark {
  --primary-color: hsl(0, 0%, 100%);
  --primary-color-lighter: hsl(0, 0%, 90%);
  --text-color: hsl(212, 28%, 13%);
  --secondary-color: hsl(180, 9%, 13%);
  --secondary-color-lighter: hsl(180, 9%, 17%);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Times, serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color-lighter);
}
body {
  overflow-x: hidden;
}
.menu-title {
  padding: 0;
}
h1 {
  padding: 1rem;
}
.main-container {
  display: flex;
}
.menu {
  margin-left: 1rem;
}
.menu li {
  padding: 0.2rem 0rem;
  list-style-type: none;
}
.sub-menu {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
}
.sub-menu li {
  padding: 0.5rem;
}
.sub-menu li:hover,
.sub-menu li:active,
.sub-menu li:visited {
  padding-left: 1rem;
  background: var(--primary-color-lighter);
  display: block;
  transition: all 0.3s ease-in-out;
}

.title-menu:hover + .sub-menu,
.sub-menu:hover {
  display: block;
  opacity: 1;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

.menu-container {
  position: fixed;
  width: var(--margin-left);
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-top: 3rem;
  color: var(--text-color);
  border-right: 0.3rem solid var(--secondary-color);
}
.menu li {
  margin-left: 1rem;
  padding: 0.2rem 0rem;
  list-style-type: none;
}

.contents-container {
  color: var(--text-color);
  background: var(--primary-color-lighter);
  position: relative;
  left: var(--margin-left);
  width: calc(100vw - var(--margin-left));
  justify-content: flex-end;
  padding: 5rem;
}
.contents-container ul {
  padding-left: 4rem;
}
.contents-container ul li {
  padding: 1rem 0rem;
  list-style-type: disc;
}

p {
  padding: 1rem 0rem 1rem 3rem;
}
p b {
  color: var(--secondary-color);
}

::marker {
  color: var(--secondary-color);
}
